/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.hide {
  display: none;
}

/*
* Navigation
*/

.navbar {
    min-height: 10px;
    position: relative;

}

.navbar-brand {

    height: 34px;
    padding: 8px 8px;

}

.container-fluid {
	background-image: url('../assets/img/30377.png');
	background-size: cover;

}

.headerInner {
	background: #4056a1;
	border-radius: 20%;
	width: 2%;
	height: 2%;
	padding: 4em;
	text-align: center;
	box-shadow: 0 0 0 1em #FFF;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -50%;
	margin: 0 auto;
}

.outerCont {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.92);
	position: fixed;
	z-index: 9;
}

.headerOuter {
	background: #4056a1;
	border-radius: 20%;
	width: 35em;
	height: 35em;
	padding: 4em;
	text-align: center;
	box-shadow: 0 0 0 1em #FFF;
	cursor: default;
	position: absolute;
	left:0;
	right: 0;
	margin: 100px auto;
	z-index: 3;
}

.cont > nav > ul {
	list-style-type: none;
}

.toggleicon > i {
/*	height: 100%;
	width: 100%;*/
	position: absolute;
	left: 0;
	right: 0;

	margin: -6px auto;
}

.toggleicon {
/*	background-color: #5c2018;*/
	position: absolute;
	left: 0;
	right: 0;
	top: 61%;
	margin: 0 auto;
	padding: 15px;
	color: white;
	font-size: 1em;
}

.close {
/*	background-color: #5c2018;*/
	position: absolute;
	left: 64%;
	right: 0;
	width: 50%;
	height: 10%;
	top: 5%;
	margin: 0 auto;
	padding: 15px;
	/*color: #d79922;*/
	color: black;
	font-size: 3em;
	position: absolute;
}


/*
* Main
*/
.wrapper {
	background-color: grey;
	height: 100vh;
	width: 100%;
	padding: 1%;
	background-image: url('../assets/img/bg1.jpg');
	background-size: cover;
}

.content {
	width: 90%;
	/*height: 100%;*/
	border: 1px solid black;
	margin: 30px auto;
	padding: 1%;
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 2%;
}

.homeImage {
	width: 50%;
	/*height: 100%;*/
	/*border: 1px solid white;*/
	float: left;
}

	/* CSS for Carousel */
		section.awSlider .carousel{
		  display:table;
		  z-index:2;
		  -moz-box-shadow: 0 0 4px #444;
			-webkit-box-shadow: 0 0 4px #444;
			box-shadow: 0 0 15px rgba(1,1,1,.5);
		}

		section.awSlider{
		  margin:30px auto;
		  padding:30px;
		  position:relative;
		  display:table;
		  -webkit-touch-callout: none;
		  -webkit-user-select: none;
		  -khtml-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}

		section.awSlider:hover > img{
		  -ms-transform: scale(1.2);
		  -webkit-transform: scale(1.2);
		  transform: scale(1.2);
		  opacity:1;
		}

		section.awSlider img{
		   pointer-events: none;
		}

		section.awSlider > img{
		  position:absolute;
		  top:30px;
		  z-index:1;
		  transition:all .3s;
		  filter: blur(1.8vw);
		  -webkit-filter: blur(2vw);
		  -moz-filter: blur(2vw); 
		  -o-filter: blur(2vw); 
		  -ms-filter: blur(2vw);
		  -ms-transform: scale(1.1);
		  -webkit-transform: scale(1.1);
		  transform: scale(1.1);
		  opacity:.5;
		  width: 90%;
		}

		.carousel-indicators {
			position: absolute;
			top: 110%;
			left: 0;
			right: 0;
			margin: 0 auto
		}

		.carousel-caption {
			position: absolute;
			top: 80%;
			left: 0;
			right: 0;
			margin: 0 auto;
			color: 
		}

.intro {
	width: 50%;
	/*height: 100%;*/
	border: 1px solid white;
	float: right;
	padding: 20px;
}

.intro > h2 {
	font-family: 'Monoton', cursive;
}

.intro p {
	font-family: 'Racing Sans One', cursive;
	font-size: 130%;
}

/* Mobile Phone */
@media only screen and (min-width: 569px){

	.mobileNav {
		display: none;
	}
}
@media only screen and (max-width: 568px){

	.navbar {
		display: none;
	}
	.homeImage {
		width: 100%;
	}
	.intro {
		width: 100%;
	}

	.mobileNav {
		width: 100%;
		height: 10vh;
		background-color: grey;
		/*text-align: right;*/

		padding: 5px;
	}

	.mobileNav > .toggle {
		width: 8%;
		height: 8%;
		background-color: #4056a1;
		text-align: center;
		position: absolute;
		left: 90%;
		border-radius: 10%;
	}

	.mobileNav > .toggle > i {
		width:100%;
		margin: 29% auto;
		font-size: 21px;
	}
}
/*
* Footer
*/

.footer {
	width: 100%;
	height: 29%;
	position: fixed;
	background-color: #4056a1;
	margin: 0 auto;
	bottom: -29%;
	z-index: 8;
	padding: 10px;
}

.iconFooter {
	width: 60px;
	height: 8%;
	position: fixed;
	background-color: white;
	margin: 0 auto;
	bottom: -5%;
	left: 0;
	right: 0;
	border-radius: 100%;
	background-color: #4056a1;

}

	.iconFooter > i {
		position: absolute;
		left: 21px;
		right: 0;
		margin: 5px auto;
		font-size: 23px;
	}

.myProfile,
.contactMe {
	width: 50%;
	height: 100%;
	padding: 10px;
	text-align: center;
	color: white;


}

.myProfile {
	float: left;
}

.contactMe {
	float: right;
	font-size: 30px;
}

	.contactMe > i {
		padding: 10px;
	}


/*
* FestivalList Page
*/


.dropdown {
	width: 100%;
	height:15vh;
	/*border: 2px solid black;*/
	/*padding: 20px;*/
}

.festivalList,
.festivalList1,
.festivalList2 {
	width: 100%;
	height:80%;
	/*border: 2px solid black;*/
	/*text-align: center;*/
	padding: 20px;
}

.island,
.month {
	width: 50%;
	text-align: center;
	margin-top: 5%;


}

.island {
	float: left;
}

.month {
	float:right;
}

	.row1,
	.row2,
	.row3 {
		width: 100%;
		/*height: 150px;*/
		/*border: 2px solid black;*/
		margin: 1%;
		padding: 1%;
		text-align: center;
	}

	.row1 > ul {
	margin-bottom: 0;
}

.row1 > ul > li {
	display: inline-block;
	width: 20%;
}

.row1 > ul > li > img {
	width: 55%;
	border-radius: 50%;
	margin-bottom: 8%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;	
}

.row1 > ul > li > img:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.3);
}


